extends layout

block content
  h1 Welcome to nodejs with mysql 
  p
    a(href='/users') Show All users
  p
    a(href='/movies') Show All movies
  p
    a(href='/rentals') Show All rentals
  p
    a(href='/stats') Show Statistics
