doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    h1 #{title}
    hr 
    section        
      div
        form.navbar-form
          div.form-group
            a(href="/stats")
              button(type="button",class="btn btn-default")              
                span(class="glyphicon glyphicon-arrow-left")  Statistics

    table.table.table-striped.table-bordered.table-hover.table-condensed.table-responsive 
      thead
        tr 
          th Category
          th Total
      tbody
        each cat, i in cats
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
            td #{cat.CAT}
            td #{cat.TOTAL}
